@import '~/css/variables.scss';


.container {
overflow:hidden;
    display: flex;
    text-align: center;
    align-items: center;
    height: fit-content;
    padding: 5rem;
    width: 100%;
    margin-top: 10rem;
    h1 {
        margin: auto auto;
        color: $clr-attention;
        z-index: 3;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background: $overlay;
    position: absolute;
    z-index: 2;
}

