@import '~/css/variables.scss';

.container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  width: 100%;
  background: $background;
  padding: 10rem 2rem 2rem 2rem;
}

.overlay {
  width: 100%;
  height: 75vh;

  transform: translateY(-4vh);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background: $overlay;
  position: absolute;
  z-index: 2;
}

.box {
  flex: 1;
  display: flex;
  margin: 0rem 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $clr-main-light;
  z-index: 3;

  > h3 {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.icon {
  margin-bottom: 2rem;
}

@media (min-width: 48em) {
  .container {
    display: flex;
    flex-direction: row;
    height: 20rem;
    align-items: center;
    padding: 2rem;
  }
  .overlay {
    transform: translateY(0vh);
    height: 20rem;
  }
}
